/* Responsive CSS */

/* Min Width 1200px and Max Width 1399px */
@media (min-width: 1200px) and (max-width: 1399px) {
  .game-card-img img {
    min-height: 220px;
    max-height: 220px;
    height: 100%;
  }
}

/* Min Width 992px and Max Width 1199px */
@media (min-width: 992px) and (max-width: 1199px) {
  .hero-content h1 {
    font-size: 60px;
  }

  .hero-content h3 {
    font-size: 28px;
  }

  .donator-content h2 {
    font-size: 48px;
  }

  .administration-content h2 {
    font-size: 40px;
  }

  .administration-content p {
    font-size: 18px;
  }

  .join-btn a {
    font-size: 26px;
  }

  .imprint-content-title h2 {
    font-size: 36px;
  }

  .discord-join-btn a i {
    margin-left: 10px;
  }
}

/* Min Width 768px and Max Width 991px */
@media (min-width: 768px) and (max-width: 991px) {
  .hero-wrapper {
    padding: 150px 0 100px;
  }

  .hero-content h1 {
    font-size: 48px;
  }

  .hero-content h3 {
    font-size: 28px;
  }

  .donator-content h2 {
    font-size: 40px;
  }

  .donator-btn a,
  .donator-btn a i {
    font-size: 20px;
  }

  .basic,
  .booster,
  .donator1,
  .donator2,
  .donator3 {
    padding: 0 10px;
  }

  .support-table tbody tr td {
    padding: 8px 10px;
  }

  table tr > th:first-child,
  table tr > td:first-child {
    background: #343434;
  }

  .basic h3,
  .booster h3,
  .donator1 h3,
  .donator2 h3,
  .donator3 h3 {
    font-size: 24px;
  }

  .stats-line::after {
    display: none;
  }

  .administration-content {
    padding: 100px 0 50px;
  }

  .administration-content h2,
  .game-title h2 {
    font-size: 36px;
  }

  .administration-content p {
    font-size: 18px;
  }

  .join-btn a {
    font-size: 22px;
  }

  .imprint-content-title h2 {
    font-size: 30px;
  }

  .discord-join-btn a i {
    margin-left: 0px;
  }
}

/* Min Width 300px and Max Width 767px */
@media (min-width: 300px) and (max-width: 767px) {
  .hero-wrapper {
    padding: 180px 0 100px;
  }

  .hero-content h1 {
    font-size: 36px;
  }

  .hero-content h3 {
    font-size: 22px;
  }

  .donator-img,
  .donator-content {
    text-align: center;
  }

  .game-card-img img {
    min-height: 200px;
    max-height: 200px;
    height: 100%;
    object-fit: initial;
  }

  .donator-content h2,
  .game-title h2,
  .support-title h2 {
    font-size: 30px;
  }

  .donator-btn a,
  .donator-btn a i {
    font-size: 20px;
  }

  table tr > th:first-child,
  table tr > td:first-child {
    background: #343434;
  }

  .basic,
  .booster,
  .donator1,
  .donator2,
  .donator3 {
    padding: 0 10px;
  }

  .support-table tbody tr td {
    padding: 8px 10px;
  }

  .basic h3,
  .booster h3,
  .donator1 h3,
  .donator2 h3,
  .donator3 h3 {
    font-size: 24px;
  }

  .stats-card {
    flex-direction: column;
    justify-content: center;
  }

  .stats-card-content {
    text-align: center;
    padding-top: 20px;
  }

  .stats-line::after {
    display: none;
  }

  .administration-content {
    padding: 100px 0 50px;
  }

  .administration-content h2,
  .rules-content-title h2 {
    font-size: 30px;
  }

  .administration-content p {
    font-size: 16px;
  }

  .join-btn a,
  .join-btn a i,
  .footer-abuot a,
  .join-discord h5 {
    font-size: 20px;
  }

  .imprint-content-title h2 {
    font-size: 26px;
  }

  .discord-join-btn a i {
    margin-left: 0px;
  }

  .footer-wrapper {
    padding-bottom: 60px;
  }
}
